
body {
    font-family:sans-serif;
    width: 400px;
    height: 300px;
}

h1 {
    padding-left:1em;
    margin-left:-1em;
    margin-right:-1rem;

}

h1, h2, h3, h4, dt {
    color: #77A43B;
}

.box {
    inline-size: 290px;
    word-break: break-all;
}